registry=https://pkgs.dev.azure.com/shaifalijain/_packaging/shaifalijain/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/shaifalijain/_packaging/shaifalijain/npm/registry/:username=shaifalijain 
//pkgs.dev.azure.com/shaifalijain/_packaging/shaifalijain/npm/registry/:_password=ZjRkbjVvMmEyaHY3cW9wMjJ2ZnJhYXNwZDZ5b29xdDRnZ3hnaXprZGZseXQ3YTdneDM3cQ==
//pkgs.dev.azure.com/shaifalijain/_packaging/shaifalijain/npm/registry/:email=shafali@gmail.com
//pkgs.dev.azure.com/shaifalijain/_packaging/shaifalijain/npm/:username=shaifalijain 
//pkgs.dev.azure.com/shaifalijain/_packaging/shaifalijain/npm/:_password=ZjRkbjVvMmEyaHY3cW9wMjJ2ZnJhYXNwZDZ5b29xdDRnZ3hnaXprZGZseXQ3YTdneDM3cQ== 
//pkgs.dev.azure.com/shaifalijain/_packaging/shaifalijain/npm/:email=shafali@gmail.com
; end auth token
