registry=https://pkgs.dev.azure.com/shaif009/_packaging/shaif009/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/prashant0135/_packaging/prashant0135/npm/registry/:username=prashant0135 
//pkgs.dev.azure.com/prashant0135/_packaging/prashant0135/npm/registry/:_password=dmR5N2xqdzdreHQzeDdoem9tMmRscHdteXA0ZG14bGpwb3EyNTVjc3Bzd2FpejRxbWc2cQ== 
//pkgs.dev.azure.com/prashant0135/_packaging/prashant0135/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/prashant0135/_packaging/prashant0135/npm/:username=prashant0135 
//pkgs.dev.azure.com/prashant0135/_packaging/prashant0135/npm/:_password=dmR5N2xqdzdreHQzeDdoem9tMmRscHdteXA0ZG14bGpwb3EyNTVjc3Bzd2FpejRxbWc2cQ==
//pkgs.dev.azure.com/prashant0135/_packaging/prashant0135/npm/:email=npm 
